.hero {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  background: radial-gradient(
    circle at top,
    rgba(122, 162, 247, 0.12),
    transparent 60%
  );
}

.hero__container {
  position: relative;
  z-index: 2;

  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 2rem 80px;
}

.hero__content {
  max-width: 1200px;
  padding: 40px;

  animation: fadeUp 0.8s ease forwards;
}

.hero__tag {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero__title {
  font-size: clamp(2.6rem, 5vw, 3.8rem);
  line-height: 1.15;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.hero__title span {
  color: var(--primary-color);
}

.hero__description {
  max-width: 640px;
  color: var(--text-secondary);
  font-size: 1.15rem;
  line-height: 1.7;
  margin-bottom: 36px;
}

.hero__actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* animações */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .hero {
    background: radial-gradient(circle at top, transparent 0%);
  }
  .hero__container {
    padding: 100px 0 50px;
  }

  .hero__content {
    padding: 24px;
  }

  .hero__title {
    font-size: 2.2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__actions {
    flex-direction: column;
    align-items: flex-start;
  }
}
